@charset "UTF-8";
/*body{
  background: rgb(04,91,98);
 background-color: #3905f7;
}*/

/*INICIO DO CABEÇALHO*/
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 16px 0;
    background: #696969;
  }

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  margin: 0 15px;
  text-transform: uppercase;
}

.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.logo h1 {
  font-size: 1.15rem;
  margin: 0;
  padding: 1px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  
}

.logo h1 a,
.logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.logo h1 a span,
.logo h1 a:hover span {
  color: #fdc134;
}

.logo img {
  float: left;
    padding: 0;
    margin: 0px 10px 10px 10px;
    max-height: 40px;
    display: inline-block;
}

.contato-button button{
  border: none;
  background-color: #FF8C00;
  padding: 15px 15px;
  margin: 0 1.5rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.contato-button button a {
  text-decoration: none;
  color: #1d1b1b;
  font-weight: 500;
}

.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

#nav-link.active, .nav-link:hover{
  background:black;
  transition: 0.5s;
  padding: 0.5rem 0.4rem;
}

@media screen and (max-width:730px){
  .nav-bar{
    padding: 1.5rem 4rem;

  } 
  .nav-item{
    display: none;
  }
  .contato-button{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
  }
  .mobile-menu-icon button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .contato-button{
    display: block;
    padding: 1rem 2rem;
    text-align: center;
  }
  .mobile-menu .contato-button button{
    width: 50%;
  }
  .open{
    display: block;
  }
}

@media screen and (max-width:375px){
  .contato-button button{
   
    margin: 0 150rem;
   
  }
  .logo h1 {
    font-size: 0.85rem;
}
}

/*  FIM DO CABEÇALHO */

/* INICIO DO MAIN */
main{
  height: 28rem;
}



/* FIM DO MAIN */

/* INICO DO RODAPÉ */
#footer-contato{
  z-index: 997;
    transition: all 0.5s;
    padding: 16px 0;
    background: #363636;
    
}

.logo-rodape h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 1px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  
}

.logo-rodape h1 ,
.logo-rodape h1:hover {
  color: #fff;
  text-decoration: none;
  
}

.logo-rodape h1 span,
.logo-rodape h1 :hover span {
  color: #fdc134;
}



#footer-midia{
  display: flex;
  align-items: center;
justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

}
#footer-midia .link-footer{
  display: flex;
  align-items: center;
justify-content: center;
  color:#fff;
  text-decoration: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
}
#footer-midia .link-footer:hover {
  opacity: 0.8;
}
#footer-midia .link-footer i{
  font-size: 0.5rem;
}
#instagram{
  background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#facebook{
  background-color: #4267b3;
}

#twitter{
  background-color: #4267b3;
}

#whatsapp{
  background-color: #25d666;
}

@media screen and (max-width:768px){
  #footer-contato{
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;
  }
}

@media screen and (max-width:426px){
  #footer-contato{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


/* FIM DO RODAPÉ */