.texto-intro h2{
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
    font-size: 2rem ;
    font-weight: 700;
    line-height: 56px;
    color: #090909;
    text-transform: uppercase;
    text-align: center;
}

.texto-intro p{
    font-size: 1.3rem ;
    text-align: justify;
    text-indent: 30px;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}