
#main{
  background: #C0C0C0;
  width: 100%;
  padding: 0 0 0 0;

}

#main h1{
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  font-size: 1.3rem ;
  font-weight: 700;
  line-height: 56px;
  color: #090909;
  text-transform: uppercase;
  text-align: center;
}

#main h2 {
  color:#090909;
  font-size: 1.3rem ;
  text-align: justify;
  text-indent: 30px;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

#main h2 .segundo {
  text-indent: 30px;
}
#main h2 b {
  font-weight: bold;
}
i {
  font-style: italic;
}


.container{
  display: flex;
background: #C0C0C0;
}

.texto-intro{
  margin: 0 0 0 0;
}
.img-main{
  width: 500 rem;
  height: auto;
}

/*section*/
.sectionslide{
  box-sizing: border-box;
 
}
.content{
  height:800px;
  width:150px ;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 22rem;
  left: 15rem;
  box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
}

.content .slide img{
  height: 100%;
  width: 100%;
}

.navegacao{
  position: absolute;
  bottom: 160px;
  left: 500px;
  top: 500px;
  display: flex;
}

.bar {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: .5s ease;
}

.bar:hover{
  background-color: white;
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 500%;
  height: 100%;
}

.slide{
  width: 20%;
  transition: 0.6s;
}


#slide1:checked ~ .s1{
margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}
#slide4:checked ~ .s1{
 margin-left: -60%;
}
#slide5:checked ~ .s1{
margin-left: -80%;
}

.navegacao-auto div{
  width: 15px;
  height: 15px;
  border: 2px solid #20a6ff;
  margin: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: .5s;
}

.navegacao-auto{
  position: absolute;
  bottom: 160px;
  left: 500px;
  top: 500px;
  display: flex;
}

.navegacao-auto div:not(:last-child), .bar:not(:last-child){
  margin-right: 40px;
}

#slide:checked ~ .navegacao-auto .auto1{
  background-color: #fff;
}
#slide2:checked ~ .navegacao-auto .auto2{
  background-color: black;
}

@media screen and (max-width:730px){
  
}

@media screen and (max-width:516px){
  .content{
    height:230px;
    width:350px ;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 38rem;
    left: 5rem;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
  }
  .navegacao{
    position: absolute;
    bottom: 160px;
    left: 8rem;
    top: 50rem;
    display: flex;
  }

  .navegacao-auto{
    position: absolute;
    bottom: 160px;
    left: 8rem;
    top: 50rem;
    display: flex;
  }
}